Repository jdrouet/tekitoi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-demo, lint-server, integration

lint-demo:
  stage: test
  image: rust:latest
  before_script:
  - rustup component add clippy
  - rustup component add rustfmt
  script:
  - cd tekitoi-demo
  - cargo fmt --check
  - cargo clippy --tests -- -D warnings

lint-server:
  stage: test
  image: rust:latest
  before_script:
  - rustup component add clippy
  - rustup component add rustfmt
  script:
  - cd tekitoi-server
  - cargo fmt --check
  - cargo clippy --tests -- -D warnings

integration:
  stage: test
  image: rust:latest
  services:
  - redis:alpine
  variables:
    CACHE__URL: redis://redis
  script:
  - cd tekitoi-server
  - cargo test

ci: optimize dockerfiles
  tekitoi-demo/Dockerfile
  tekitoi-server/Dockerfile
Due: lint-demo, lint-server, integration

ci: only build image on main branch
  .gitlab-ci.yml
Due: none

ci: create dependabot configuration file
  .github/dependabot.yml
Due: none

deploy: ec0c97e77d0452ea5c462cfa0d5e6cbd0d6bf521
  404.html
Due: none

chore(server): update dependencies
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
Due: lint-server, integration

chore(demo): update dependencies
  tekitoi-demo/Cargo.lock
  tekitoi-demo/Cargo.toml
Due: lint-demo

deploy: aa31aa899699be063ea696a103a0e766af8d76e3
  ayu-highlight.css
  css/chrome.css
  css/general.css
  highlight.css
  index.html
  tomorrow-night.css
Due: none

refactor(server): remove existing
  rust-toolchain.toml
  tekitoi-server/.dockerignore
  tekitoi-server/.gitignore
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/Dockerfile
  tekitoi-server/config.example.toml
  tekitoi-server/src/arguments.rs
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/api/error.rs
  tekitoi-server/src/handler/api/mod.rs
  tekitoi-server/src/handler/api/prelude.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/api/status.rs
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/handler/api/user.rs
  tekitoi-server/src/handler/mod.rs
  tekitoi-server/src/handler/view/authorize.rs
  tekitoi-server/src/handler/view/error.rs
  tekitoi-server/src/handler/view/mod.rs
  tekitoi-server/src/main.rs
  tekitoi-server/src/service/cache.rs
  tekitoi-server/src/service/client/github.rs
  tekitoi-server/src/service/client/gitlab.rs
  tekitoi-server/src/service/client/google.rs
  tekitoi-server/src/service/client/mod.rs
  tekitoi-server/src/service/database.rs
  tekitoi-server/src/service/mod.rs
  tekitoi-server/src/settings.rs
  tekitoi-server/static/favicon.png
  tekitoi-server/static/favicon.svg
  tekitoi-server/templates/authorize.html
  tekitoi-server/templates/error.html
  tekitoi-server/tests/simple.toml
Due: lint-server, integration

feat(server): prepare empty project
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/src/handler/api/mod.rs
  tekitoi-server/src/handler/api/status.rs
  tekitoi-server/src/handler/mod.rs
  tekitoi-server/src/lib.rs
  tekitoi-server/src/main.rs
  tekitoi-server/src/service/base_url.rs
  tekitoi-server/src/service/mod.rs
Due: lint-server, integration

build(server): create dockerfile
  tekitoi-server/Dockerfile
Due: lint-server, integration

build(server): create ci workflow
  .github/workflows/server.yml
Due: none

feat(server): write first test
  .github/workflows/server.yml
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/src/lib.rs
  tekitoi-server/tests/basic.toml
  tekitoi-server/tests/router_api_status.rs
Due: lint-server, integration

fix(demo): update the way we build settings
  tekitoi-demo/src/settings.rs
Due: lint-demo

feat(server): bump dependencies
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
Due: lint-server, integration

refactor(demo): use axum
  tekitoi-demo/Cargo.lock
  tekitoi-demo/Cargo.toml
  tekitoi-demo/src/authorize.rs
  tekitoi-demo/src/home.rs
  tekitoi-demo/src/main.rs
  tekitoi-demo/src/redirect.rs
  tekitoi-demo/src/settings.rs
  tekitoi-demo/src/status.rs
Due: lint-demo

refactor(demo): remove redis dependency
  docker-compose.yml
  tekitoi-demo/Cargo.lock
  tekitoi-demo/Cargo.toml
  tekitoi-demo/src/authorize.rs
  tekitoi-demo/src/main.rs
  tekitoi-demo/src/redirect.rs
  tekitoi-demo/src/settings.rs
Due: lint-demo

feat(server): rewrite with axum
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/src/arguments.rs
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/api/error.rs
  tekitoi-server/src/handler/api/prelude.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/api/status.rs
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/handler/api/user.rs
  tekitoi-server/src/handler/view/authorize.rs
  tekitoi-server/src/handler/view/error.rs
  tekitoi-server/src/handler/view/mod.rs
  tekitoi-server/src/lib.rs
  tekitoi-server/src/main.rs
  tekitoi-server/src/service/client/mod.rs
  tekitoi-server/src/settings.rs
Due: lint-server, integration

refactor(server): remove unused file
  tekitoi-server/src/service/database.rs
  tekitoi-server/src/service/mod.rs
Due: lint-server, integration

refactor(server): abstract cache
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/api/error.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/handler/api/user.rs
  tekitoi-server/src/handler/view/authorize.rs
  tekitoi-server/src/handler/view/error.rs
  tekitoi-server/src/lib.rs
  tekitoi-server/src/service/cache.rs
  tekitoi-server/src/service/cache/mod.rs
  tekitoi-server/src/settings.rs
Due: lint-server, integration

fix(server): finish entire workflow
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/config.example.toml
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/lib.rs
  tekitoi-server/src/main.rs
Due: lint-server, integration

test(server): move back tests for /api/authorize
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/src/arguments.rs
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/view/authorize.rs
  tekitoi-server/src/lib.rs
  tekitoi-server/src/service/cache/mod.rs
  tekitoi-server/src/settings.rs
Due: lint-server, integration

refactor(server): remove commented code
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/api/status.rs
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/handler/api/user.rs
  tekitoi-server/src/handler/view/authorize.rs
Due: lint-server, integration

refactor(server): create entity folder
  tekitoi-server/src/entity/incoming.rs
  tekitoi-server/src/entity/local.rs
  tekitoi-server/src/entity/mod.rs
  tekitoi-server/src/entity/redirected.rs
  tekitoi-server/src/entity/token.rs
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/api/prelude.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/handler/api/user.rs
  tekitoi-server/src/handler/view/authorize.rs
  tekitoi-server/src/lib.rs
  tekitoi-server/src/service/cache/mod.rs
Due: lint-server, integration

refactor(server): move redis cache to own module
  tekitoi-server/Cargo.lock
  tekitoi-server/src/service/cache/mod.rs
  tekitoi-server/src/service/cache/redis.rs
Due: lint-server, integration

feat(server): use json for scopes and secrets
  tekitoi-server/migrations/sqlite/20240101110000_create-application-tables.down.sql
  tekitoi-server/migrations/sqlite/20240101110000_create-application-tables.up.sql
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/model/application.rs
  tekitoi-server/src/model/provider.rs
Due: lint-server, integration

fix(server): update json queries
  tekitoi-server/src/model/application.rs
  tekitoi-server/src/model/provider.rs
Due: lint-server, integration

feat(server): move to use sqlite
  tekitoi-demo/src/main.rs
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/migrations/sqlite/20240101110000_create-application-tables.up.sql
  tekitoi-server/migrations/sqlite/20240101120000_create-request-tables.down.sql
  tekitoi-server/migrations/sqlite/20240101120000_create-request-tables.up.sql
  tekitoi-server/src/entity.rs
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/handler/view/authorize.rs
  tekitoi-server/src/lib.rs
  tekitoi-server/src/main.rs
  tekitoi-server/src/model/application.rs
  tekitoi-server/src/model/application_authorization_request.rs
  tekitoi-server/src/model/mod.rs
  tekitoi-server/src/model/provider.rs
  tekitoi-server/src/model/provider_authorization_request.rs
  tekitoi-server/src/model/redirected.rs
  tekitoi-server/src/service/client/github.rs
  tekitoi-server/src/service/client/gitlab.rs
  tekitoi-server/src/service/client/google.rs
  tekitoi-server/src/service/client/mod.rs
  tekitoi-server/src/service/client/oauth.rs
  tekitoi-server/tests/simple.toml
Due: lint-demo, lint-server, integration

refactor(server): reduce public structs
  tekitoi-server/src/arguments.rs
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/api/error.rs
  tekitoi-server/src/handler/api/prelude.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/api/status.rs
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/handler/api/user.rs
  tekitoi-server/src/lib.rs
  tekitoi-server/src/model/application.rs
  tekitoi-server/src/model/application_authorization_request.rs
  tekitoi-server/src/model/provider.rs
  tekitoi-server/src/model/provider_authorization_request.rs
  tekitoi-server/src/model/redirected.rs
  tekitoi-server/src/model/token.rs
  tekitoi-server/src/service/client/github.rs
  tekitoi-server/src/service/client/gitlab.rs
  tekitoi-server/src/service/client/google.rs
  tekitoi-server/src/service/client/mod.rs
  tekitoi-server/src/service/client/oauth.rs
  tekitoi-server/src/service/database/mod.rs
  tekitoi-server/src/service/database/sqlite.rs
  tekitoi-server/src/service/mod.rs
  tekitoi-server/src/settings.rs
Due: lint-server, integration

test(server): add error test cases
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/src/entity.rs
  tekitoi-server/src/handler/api/authorize.rs
  tekitoi-server/src/handler/api/error.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/api/token.rs
  tekitoi-server/src/handler/view/authorize.rs
  tekitoi-server/src/handler/view/error.rs
  tekitoi-server/src/model/application.rs
  tekitoi-server/src/service/client/mod.rs
  tekitoi-server/src/service/client/oauth.rs
Due: lint-server, integration

feat(server): add static path
  tekitoi-server/Cargo.lock
  tekitoi-server/Cargo.toml
  tekitoi-server/src/lib.rs
  tekitoi-server/src/model/application.rs
  tekitoi-server/src/model/provider.rs
  tekitoi-server/src/settings.rs
  tekitoi-server/templates/authorize.html
Due: lint-server, integration

refactor(server): extract authorization error structure
  tekitoi-server/src/entity.rs
  tekitoi-server/src/handler/api/error.rs
  tekitoi-server/src/handler/api/redirect.rs
  tekitoi-server/src/handler/view/authorize.rs
  tekitoi-server/src/handler/view/error.rs
  tekitoi-server/src/model/provider.rs
  tekitoi-server/src/service/client/oauth.rs
Due: lint-server, integration

refactor(server): remove useless clone
  tekitoi-server/src/handler/view/error.rs
  tekitoi-server/src/service/client/github.rs
  tekitoi-server/src/service/client/gitlab.rs
  tekitoi-server/src/service/client/google.rs
  tekitoi-server/src/service/client/oauth.rs
Due: lint-server, integration

build(server): add configuration for github actions
  .github/workflows/documentation.yml
  .github/workflows/server.yml
  .gitlab-ci.yml
  tekitoi-server/.gitignore
  tekitoi-server/src/handler/view/authorize.rs
Due: lint-server, integration

deploy: 4ab2bc5b2e3347d91493dc60a546c912a858046d
  404.html
  book.js
  configuration.html
  contributors.html
  css/chrome.css
  css/general.css
  css/print.css
  css/variables.css
  examples.html
  highlight.js
  index.html
  installation.html
  introduction.html
  print.html
  searcher.js
  tomorrow-night.css
Due: none

doc: update readme
  README.md
  tekitoi-server/config.example.toml
Due: lint-server, integration

doc: add coverage badge to readme
  README.md
Due: none

build(doc): update action
  .github/workflows/documentation.yml
Due: none

build(demo): add action for demo project
  .github/workflows/demo.yml
Due: none

fix(demo): apply clippy suggestions
  tekitoi-demo/src/redirect.rs
Due: lint-demo

Path conditions:
  lint-demo: any of: tekitoi-demo/**/*
  lint-server: any of: tekitoi-server/**/*
  integration: any of: tekitoi-server/**/*
